@page "/"

<PageTitle>Home</PageTitle>

<div style="display: flex; align-items: center;">
    <MudImage ObjectFit="ObjectFit.Cover" Width="800" Src="https://i.pinimg.com/736x/63/c0/7a/63c07a8766639f76c5e4f77891d41949.jpg" Alt="accesskey Cat Cafe" Class="rounded-lg" />
    <MudText Class="vertical-text" Style="display: flex; flex-direction: column; color: pink; font-family: 'Courier New'; font-size: 300px; margin-left: 20px;">
        <span style="line-height: 0.8; transform: rotate(0deg);">C</span>
        <span style="line-height: 0.8; transform: rotate(0deg);">a</span>
        <span style="line-height: 0.8; transform: rotate(0deg);">t</span>
    </MudText>
</div>